.profile-photo1 {
  width: 7.5vw;
  height: 7.5vw;
  object-fit: cover;
  border-radius: 50%;
}
.profile1{
  position: absolute;
  top: 4vw;
  left: 7vw;
}
.username1{
  margin-left: 6vw;
  justify-content: 'space-between';
  margin-top: 9vh;
  color: #353434;
  font-weight: bold;
  font-size: 20px;
}

.counts-css{
  color: #353434;
  font-weight: bold;
  font-size: 20px;
}
.profile2{
  margin-right: 43em;

 
}
.profile-photo2 {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: cover;
  border-radius: 50%;
}
.profile3{
  margin-right: 43em;

 
}
.profile-photo3 {
  width: 2.5vw;
  height: 2.5vw;
  object-fit: cover;
  border-radius: 50%;
}
.form-control1 {
  border-radius: 3.25rem;
  width: 30vw;
}
.cover-img1{
 border-radius: 5px;
}

@media (max-width: 1207px) {
  .profile1 {
      top: 24.5vh;
      left: 11vw;
  }

  .profile-photo1 {
      width: 80px; 
      height: 80px; 
      top: 20.5vh;
      left: 3vw; 
  }
  .company-logo {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
    border-radius: 50%;
  }

}
@media (max-width: 1024px) {
  .profile1 {
      top: 39.5vh;
      left: 46vw;
  }

  .profile-photo1 {
      width: 100px; 
      height: 100px; 
      top: 80.5vh;
      left: 3vw; 
  }
  .cover-img1{
    width: 50vw; 
    height: 30vh;
  }
  .company-logo {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
    border-radius: 50%;
  }

}
@media (max-width: 912px) {
  .profile1 {
      top: 20.5vh;
      left: 39vw;
  }

  .profile-photo1 {
      width: 80px; 
      height: 80px; 
      top: 80.5vh;
      left: 3vw; 
  }
  .cover-img1{
    width: 40vw; 
    height: 10vh;
  }
  .company-logo {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
    border-radius: 50%;
  }

}


.text-title {
  padding: 6px !important;
}