.MuiPaper-root.MuiTableContainer-root {
    box-shadow: none !important;
  }

  .profile-photocard121 {
    width: 7.5vw;
    height:7.5vw;
    object-fit: cover;
    border-radius: 50%;
  }
  .profilecard121{
    position: absolute;
    top: 35vw;
    left: 33vw;
    z-index: 2;

  }
  .profile-container {
    position: relative;
  }

  .cover-profile-container {
    position: relative;
  }

  .cover-img2 {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .profile-container {
    position: relative;
  }