.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #e2d1b63b;
}

.dark-mode {
  background-color: black;
}

/* .light-mode {
  background-color: #e2d1b63b;
} */

.transition-group {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.transition-group > div {
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
}

/* Add your existing styles for dark-mode and light-mode */
