
*{
  font-family: 'Roboto', sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Global hover animation */
/* .hover-animation {
  transition: transform 0.3s ease-in-out;
}

.hover-animation:hover {
  transform: scale(1.1); 
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  background-color: #9861DF;
  border-color:  #9861DF;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
}
.btn-primary:hover {
  background-color: #b78af3; /* Change this to the desired hover background color */
  border-color:#b78af3; /* Change this to the desired hover border color */
  color: #fff; /* Text color on hover */
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
}
.text-primary {
  color: #b78af3 !important
}
.css-1633um2-MuiPaper-root {
  border-radius: 8px !important;
  box-shadow: 0px 0px 25px -10px rgb(204 202 202 / 38%) !important;
}

.css-uxezyx {

  background-color: #e2d1b63b;
}
/* .form-control{
  background-color: #f2f4f6;
  border: none;
} */

.btn{
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  
  border-radius: 8px !important;
  border: 1px solid #80808038 !important;

}